.container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.main{
    width:250px;
    padding: 40px;
    height: 450px;
    background-color: rgb(128, 123, 123);
    border-radius: 10px;
    margin-left: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row{
    justify-content: center;
    display: flex;
    margin: 10px 0;
    
}
.row input{
    font-size: 20px;
    margin:15px 0px;
    padding:20px 5px ;
    color: #fff;
    background-color: rgb(69, 67, 66);
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button{
    width: 60px;
    padding: 20px;
    margin: 0 3px;
    color: white;
    background-color: rgb(96, 92, 95);
    border: 2px solid rgb(25, 25, 25);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.row .btn{
    width: 120px;
}
.row .color-b{
    background-color: rgb(255, 128, 0);
}
.row .color-a{
    background-color: rgb(69, 67, 66);
}